{% extends 'base.html' %}

{% block title %} 앨범상세보기 {% endblock %}

{% load staticfiles %}
{% block app-style %} {%  static 'photo/photo.css' %} {% endblock %}

{% block content %}
<div id="content">

    <h2 style="display:inline">{{ object.name}}</h2>
    {{ object.description }}
    <hr/>

    <div class="album-detail">
        {% for photo in object.photo_set.all %}
            <div class="album-detail-photo">
                <a href="{{ photo.get_absolute_url }}">
                    <img class="thumbnail" src="{{ photo.image.thumb_url }}"/>
                </a>
                <li>{{ photo.title }}</li>
                <li>{{ photo.upload_date|date:"Y-m-d"}}</li>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}