{% extends 'base.html' %}

{% block title %} 사진상세보기 {% endblock %}

{% load staticfiles %}
{% block app-style %} {%  static 'photo/photo.css' %} {% endblock %}

{% block content %}
<div id="content">

    <h2>{{ object.title}}</h2>

    <table class="photo-detail">
        <tr>
            <td>
                <a href="{{ object.image.url }}">
                    <img style='max-width:100%' src="{{ object.image.url }}">
                </a>
            </td>
            <td>
                <ul>
                    <li> 사진 설명 </li>
                    <p>{{ object.description}}</p>
                    <li>업로드일</li>
                    <p>{{ object.upload_date }}</p>
                    <li> 앨범이름 </li>
                    <p>{{ object.album.name }}</p>
                </ul>
            </td>
        </tr>
    </table>

</div>
{% endblock %}